.article-page {

    padding: 4rem 3rem;

    &__content {
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        display: flex;
    }

    &__main-side {
        flex: 1;
        overflow-x: hidden;
    }

    &__lateral-side {
        flex: 0 0 30rem;

        padding-left: 3rem;
    }

    &__sticky-content {
        position: sticky;
        top: 0;
        padding: 1rem 0;
    }
}