@colors: {
    primary: #e84545;
    secondary: #3a3e64;
    secondary-dark: #313454;

    grey: #6c7279;
    grey-2: #808080;
    dark-grey: #2d3033;

    white: #fff;
    black: #000;
}

@grid-width: 120rem;
@max-page-width: 180rem;

@fixed-header-height: 8.1rem;
@navigation-breakpoint: #pxToEm(830)[];