.header {
    background-color: @colors[secondary-dark];

    padding: 2rem 3rem;

    &--home-page {
        background-color: transparent;
        position: relative;
        z-index: 10;
        pointer-events: none;

        a {
            pointer-events: all;
        }
    }

    &--fixed {
        height: @fixed-header-height;

        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        width: 100%;
        max-width: @max-page-width;

        transition: all .2s;

        > div {
            position: relative;
            z-index: 10;
        }
    }

    &--smaller {
        height: 6rem;
    }

    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;
        max-width: @grid-width;
        margin: 0 auto;
    }

    &__title {
        font-size: 3.5rem;

        color: @colors[white];

        user-select: none;

        span {
            color: lighten(@colors[grey], 30%);
        }
    }

    &__nav {

        ul {
            display: flex;
            align-items: center;

            list-style: none;

            height: 100%;
        }

        li:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__nav-link {
        &:link, &:visited {
            font-size: 1.3rem;
            font-weight: 700;

            text-transform: uppercase;
            text-decoration: none;
            color: @colors[white];
        }

        &:hover {
            color: darken(@colors[white], 10%);
        }
    }
}

.header-placeholder {
    height: @fixed-header-height;
}