.header {
    background-color: @colors[secondary-dark];

    padding: 2rem 3rem;

    &--home-page {
        background-color: transparent;
        position: relative;
        z-index: 10;
        pointer-events: none;

        a {
            pointer-events: all;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;
    }

    &__title {
        font-size: 3.5rem;

        color: @colors[white];

        span {
            color: lighten(@colors[grey], 30%);
        }
    }

    &__nav {

        ul {
            display: flex;
            align-items: center;

            list-style: none;

            height: 100%;
        }

        li:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__nav-link {
        &:link, &:visited {
            font-size: 1.3rem;
            font-weight: 700;

            text-transform: uppercase;
            text-decoration: none;
            color: @colors[white];
        }
    }
}